# Google Sheets
GOOGLE_SHEET_ID=*******
GOOGLE_SHEET_NAME=Responses

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=/home/cubinez85/lead_landing_google_form/landing/sa-key.json
GOOGLE_CLOUD_PROJECT=industrial-glow-498409-n1

# Database
USE_POSTGRESQL=true
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_DB=leads_db
POSTGRESQL_USER=leads_user
POSTGRESQL_PASSWORD=*****

# Telegram
TELEGRAM_BOT_TOKEN=*****
TELEGRAM_CHAT_ID=*****

# VK Bot (Long Poll API)
VK_GROUP_TOKEN=vk*******
VK_GROUP_ID=****
VK_API_VERSION=5.199
VK_PEER_ID=*****

# Email
SMTP_SERVER=95.174.94.246
SMTP_PORT=25
SMTP_USER=cubinez85@cubinez.ru
SMTP_PASSWORD=*****
EMAIL_TO=cubinez85@cubinez.ru

# Password Reset API
SMTP_FROM=cubinez85@cubinez.ru
FRONTEND_URL=https://project15827036.tilda.ws
RESET_TOKEN_EXPIRES_HOURS=1

FLASK_PORT=8087

# JWT
JWT_SECRET_KEY=*****
JWT_EXPIRATION_HOURS=24

# Logging
LOG_FILE=/var/log/leads-automation/leads.log

# Interval
CHECK_INTERVAL=30

# Email thread pool
EMAIL_MAX_WORKERS=3
EMAIL_TIMEOUT=30
